# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local configuration file (if you're using pyenv, virtualenv, etc.)
.pyenv/
.env/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Miscellaneous
*.DS_Store
Thumbs.db

# Environment Variables
.env
